<mat-card>
    <mat-card-header>
        <mat-card-title>{{flight.origin}} - {{flight.destination}} </mat-card-title>
        <mat-card-subtitle> {{flight.price}} </mat-card-subtitle>
        <mat-card-subtitle> {{flight.flightDate | date}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="center-xs">
      <div class="row">
        <button [disabled]="!formValid" mat-button color="primary" class="col-xs-12" (click)="reserveFlight()">Reservar</button>
      </div>
    </mat-card-actions>
</mat-card>
